<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/header :: header"></div>
</head>
<body>

<div th:replace="common/navbar :: navbar"></div>

<div class="container">

<h1>Witaj.</h1>
<h2>Na Twitterowym typerze, tweetnij wynik meczu z hasztagiem #lechtyper oraz #meczowym i reszte pozostaw nam, wszystko zrobimy za Ciebie!</h2>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/bootstrap-select-1.13.9/dist/js/bootstrap-select.js}"></script>

</body>